<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Beginners.</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 5%;
            font-family: 'Quicksand', sans-serif;
        }

        .active {
            background: salmon;
            border: 0;
            padding: 5px
        }

        .error {
            color: red;
        }

        .input-group {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>

<div id="app">
    <header-component nama="Vuejs" gambar="https://vuejs.org/images/logo.png"></header-component>
    <nav>
        <router-link to ="/">Home</router-link>
        <router-link to ="/about">About</router-link>
        <router-link to ="/kelas">Kelas</router-link>
    </nav>

    <main>
        <router-view v-bind:items="kelas" v-on:submitkelas="submitkelas" v-on:hapuskelas="hapuskelas"></router-view>
    </main>
    <footer-component>
        <p>copyright 2025 - kelas.daffaReyhansyah</p>
    </footer-component>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.8"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.2/dist/vue-router.js"></script>
<!-- Fixed UUID import -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    const Home = {
        template: `<div>Home</div>`
    }

    const About = {
        template: `<div>About</div>`
    }

    const NotFound = {
        template: `<div>404 Not Found</div>`
    }

    const detailKelas = {
        template: `<div>
            <img :src="url_gambar(detailKelas.gambar)" width="200" />
            <h3>{{detailKelas.judul}} - {{$route.params.idkelas}}</h3>
            <p>{{detailKelas.deskripsi}}</p>
            <router-link to="/kelas">Kembali ke daftar kelas</router-link>
        </div>`,
        data() {
            return {
                detailKelas: {}
            }
            },
            created() {
                this.filterkelas()
        },
        methods:{
            filterkelas(){
                let kelas = JSON.parse(localStorage.getItem('kelas'))
                let id = this.$route.params.idkelas;
                let item = kelas.filter(k => k.id ==id)
                this.detailKelas = item[0];
            },
            url_gambar: function(gambar) {
                return '../image/' + gambar
            }
        }
    }

    const Kelas = {
        props: ['items',],
        template: `
            <div>
            <h3>Tambah Kelas.</h3>
            <form v-on:submit.prevent="submitkelas" >
            <div class="input-group">
                <input type="text" v-model="kelas.judul" placeholder="Nama Kelas">
                <div class="error" v-if="error.judul"><small>{{error.judul}}</small></div>
            </div>


            <div class="input-group">
                <label>Deskripsi: </label> <br>
                <textarea v-model="kelas.deskripsi"></textarea>
                <div class="error" v-if="error.deskripsi"><small>{{error.deskripsi}}</small></div>
            </div>

            <div class="input-group">
                <p><img :src="previewimg" v-if="previewimg" width="100" /></p>
                <label>Masukkan Gambar</label> <br>
                <input type="file" ref="gambar" v-on:change="upload" />
            </div>
            <button type="submit">Submit</button>
        </form>
            <hr>
            <h3>Daftar Kelas({{items.length}})</h3>

            <template v-if="items.length">
                <ul>
                    <li v-for="(item, index) of items">
                        <img :src="'image/' + item.gambar"width="100" />
                        <p>{{index+1}} - {{item.judul}}
                        <a href="" v-on:click.prevent="$emit('hapuskelas', item.id)">hapus</a>
                        <router-link :to="'/kelas/' + item.id">Lihat kelas</router-link>
                        </p>
                    </li>
                </ul>
            </template>

            <li v-else>Kelas belum tersedia..</li>
            </div>
            `,
        data: function () {
            return {
                kelas:{
                    judul: "",
                    deskripsi: "",
                    gambar: ""
                },
                previewimg: "",
                error: {
                    judul:'',
                    deskripsi: '',
                }
            }
        },
        methods: {
            submitkelas: function(){
                this.error.judul = '';
                this.error.deskripsi = '';

                if (this.kelas.judul == '') {
                    this.error.judul = "Judul kelas harus diisi";
                }
                if (this.kelas.deskripsi == '') {
                    this.error.deskripsi = "Deskripsi kelas harus diisi";
                }

                if(this.kelas.judul && this.kelas.deskripsi) {
                    const data = {
                    id: uuid.v4(),
                    judul: this.kelas.judul,
                    deskripsi: this.kelas.deskripsi,
                    gambar: this.kelas.gambar
                }
                this.$emit('submitkelas', data);

                this.kelas.judul = "";
                this.kelas.deskripsi = "";
                this.kelas.gambar = "";
                this.previewimg = "";
                this.$refs.gambar.value = ""
                }
            },
            upload: function(event){
                const namagambar = event.target.files[0];
                this.kelas.gambar = namagambar;
                this.previewimg = URL.createObjectURL(event.target.files[0]);


            }
        }
    }
    Vue.component('header-component', {
        props: ['nama', 'gambar'],
        template: `
            <header>
                <img :src="gambar" width="300">
                <p>{{ 'Hello, ' + nama}}</p>
            </header>
            `,
        data: function () {
            return {
                pesan: 'Hello, Component!',
            }
        }
    })

    Vue.component('footer-component', {
        template: `
            <footer>
                <slot></slot>
            </footer>
            `
    })

    const routes = [
        {path: '/', component: Home},
        {path: '/about', component: About},
        {path: '/kelas', component: Kelas},
        {
            path: '/kelas/:idkelas',
            component: detailKelas
        },
        {path: '*', component: NotFound},

    ]
    const router = new VueRouter({
        mode: 'history',
        routes
    })


    const vm = new Vue({
        router,
        components: {
            'home': Home
        },
        data: {
            /*kelas: [
            {id: "1", judul : 'Vuejs', deskripsi: 'The Progressive JavaScript Framework', gambar: 'logo.png'},
            {id: "2", judul : 'React', deskripsi: 'A JavaScript library for building user interfaces', gambar: 'react.png'}
            ],*/
            kelas: []
        },

        created: function () {
            this.kelas = JSON.parse(localStorage.getItem('kelas')) || []
            console.log('created')
            },
            beforeCreate () {
                console.log('beforeCreate')
            },
            mounted () {
                console.log('mounted')
            },
            beforeupdate () {
                console.log('beforeUpdate')
            },
            updated () {
                console.log('updated')
            },
        methods: {
            hapuskelas: function (id) {
                this.kelas = this.kelas.filter(item => item.id !== id);
                localStorage.setItem('kelas', JSON.stringify(this.kelas))
                swal({
                    text: "Kelas berhasil dihapus!",
                    icon: "warning",
                })
            },
            submitkelas: function (data) {
                this.kelas.push(data)
                localStorage.setItem('kelas', JSON.stringify(this.kelas))

                swal({
                    title: this.data.judul,
                    text: "Kelas berhasil ditambahkan!",
                    icon: "success",
                })
            }
        },
        computed: {}
    })

    vm.$mount('#app')
</script>
</body>
</html>