<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Beginners.</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 5%;
            font-family: 'Quicksand', sans-serif;
        }

        .active {
            background: salmon;
            border: 0;
            padding: 5px
        }
    </style>
</head>
<body>

<div id="app">
    <header-component></header-component>

<main>
  <h3>Tambah Kelas.</h3>
  <p><input type="text" placeholder="Nama Kelas" v-on:keyup.enter="submit" v-model="kelasbaru"></p>

  <hr>
  <h3>Daftar Kelas({{kelas.length}})</h3>

    <template v-if="kelas.length > 1">
        <ul>
            <li v-for="(item, index) of kelas">{{index+1}} - {{item}}</li>
        </ul>
    </template>

  <li v-else>Kelas belum tersedia..</li>
</main>
    <footer-component></footer-component>

</div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.8"></script>
    <script>
        Vue.component('header-component', {
            template: `
              <header>
                <img src="image/logo.png" width="300">
                <p v-text="pesan"></p>
                </header>
                `,
                data: function () {
                    return {
                        pesan: 'Hello, Component!',           
                    }
                }
        })

        Vue.component('footer-component', {
            template: `
              <footer>
                <p>copyright 2025 - kelas.daffaReyhansyah</p>
              </footer>
                `
        })


        const vm = new Vue({
            el: '#app',
            data: {
              kelas: ['Golang', 'PHP'],
              kelasbaru: "",

            },
            methods: {
                submit:function (event) {
                    let text = event.target.value
                    this.kelas.unshift(this.kelasbaru);
                    this.kelasbaru = '';}
            },
            computed: {

                }
        })
    </script>
</body>
</html>