<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Beginners.</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 5%;
            font-family: 'Quicksand', sans-serif;
        }

        .active {
            background: salmon;
            border: 0;
            padding: 5px
        }
    </style>
</head>
<body>

<div id="app">
  <header>
  <img src="image/logo.png" width="80" alt="Logo Vue.js">
  <h1 v-text="name"></h1>
  <p><input type="text" v-model="name"></p>

  <h3>Daftar Kelas({{kelas.length}})</h3>
  <ul v-if="kelas.length > 1">
    <li v-for="(item, index) of kelas">{{index+1}} - {{item}}</li>
     </li>
  </ul>
  <li v-else>Kelas belum tersedia..</li>


    <h3>Perulangan (1-5)</h3>
    <ul>
      <li v-for="x in 5">{{x}}</li>
    </ul>

    <h3>Mencari Bilangan Genap:{{numbers}}</h3>
    <ul>
      <li v-for="x in caribilangangenap(numbers)">{{x}}</li>
    </ul>

  <p>{{kelas}}</p>
  <div>
    <label><input type="checkbox" value="React" v-model="kelas">React</label>
    <label><input type="checkbox" value="Vue" v-model="kelas">Vuejs</label>
    <label><input type="checkbox" value="Angular" v-model="kelas">Angular</label>
  </div>
  <p>
    <button @click="handleclick">ditekan</button>
  </p>
  <img :src="gambar" width="100">
  <p>The Progressive JavaScript Framework</p>

  <button v-bind:class="{active: menu === 'home'}" v-on:click="menu = 'home'">Home</button>
  <button v-bind:class="{active: menu === 'about'}" v-on:click="menu = 'about'">About</button>
  <button v-bind:class="{active: menu === 'blog'}" v-on:click="menu = 'blog'">Blog</button>

</header>

    <footer id="footer">
        <p>copyright 2019</p>
    </footer>

</div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.8"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
              name: 'Doremi Fasolasido',
              message: 'Hello World!',
              qty: 4,
              namaDepan: 'Daffa',
              namaBelakang: ' Reyhansyah',
              bilangan: 1,
              link: '<a href="">kelas.daffa</a>',
              gambar: 'image/react.png',
              menu: 'home',
              kelas: [],
              numbers: [1, 2, 3, 4, 5], 


            },
            methods: {
                getname: function () {
                    return 'Hello ' + this.name;
                },
                ubahNama: function (newName) {
                    this.name = newName;
                    return this.getname()
                },
                handleclick: function () {
                    this.bilangan++;
                    this.gambar = 'image/nuxt.png';
                },
                caribilangangenap: function (data) {
                    return data.filter(angka =>  {
                        return angka % 2 === 0;
                    });


                }
            },
            computed: {
                    totalBayar: function () {
                        return this.qty * 10000
                    },
                    namaLengkap: function () {
                        return this.namaDepan + this.namaBelakang
                    },
                    infoBilangan: function () {
                        return this.bilangan % 2 === 0 ? 'genap' : 'ganjil'
                    }

                }
        })
    </script>
</body>
</html>